=> {{ print "gemini://" .URL.Host "/reply/" .Post.Id }} Reply

```
Name: {{ .Post.Author.Name }}
Hash: {{ .Post.Author.PublicKeyHash }}
Creation: {{ .Post.Creation.Format "2006-01-02 15:04:05" }}

{{ .Post.Body }}
```

{{ range $v, $i := .Post.Replies }}
$i
```
Name: {{ $v.Author.Name }}
Hash: {{ $v.Author.PublicKeyHash }}
Creation: {{ $v.Creation.Format "2006-01-02 15:04:05" }}

{{ $v.Body }}
```
{{ end }}