=> {{ print "gemini://" .URL.Host "/reply/" .Post.Id }} Reply

{{ .Post.Author.Issuer.CommonName }} <{{ .Hash }}> at {{ .Post.Creation.Format "2006-01-02 15:04:05" }}
{{ .Post.Views }} views
```
{{ .Post.Body }}
```

{{ range $v := .Post.Replies }}
{{ $v.Author }} at {{ $v.Creation.Format "2006-01-02 15:04:05" }}
```
{{ $v.Body }}
```
{{ end }}